@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --zwart: rgb(16, 16, 16);
    --tekst-wit: rgb(255, 255, 255);

    --beige: rgb(244, 237, 210);
    --groen: rgb(13, 61, 53);
    --groen-geselecteerd: rgba(13, 61, 53, 0.35);
    --rood: rgb(208, 43, 33);

    /* Opacity varianten */
    --beige-35: rgba(244, 237, 210, 0.35);
}

body {
    margin: 0;
    background: var(--beige);
    color: var(--zwart);
    font-family: "Cabin", sans-serif;
}

/* *
 * ================================================================================
 * Header sectie
 * ================================================================================
* */
header {
    background: var(--groen);
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}

header span#lijn {
    height: 0.25rem;
    width: 7rem;
    background: var(--rood);
}

header p {
    margin-top: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    color: var(--beige-35);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

header span#eerste-border,
header span#tweede-border {
    opacity: 0.1;
}
header span#eerste-border {
    position: absolute;
    width: 97%;
    height: 97%;
    border: 5px solid var(--beige);
}

header span#tweede-border {
    position: absolute;
    width: 95%;
    height: 94%;
    border: 1px solid var(--beige);
}

header span#jaartal {
    width: 5rem;
    height: 5rem;
    border-radius: 20rem;
    border: 3px solid var(--beige);
    opacity: 0.1;
    position: absolute;
    bottom: 3rem;
    right: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--beige);
}

header h1 {
    font-size: 15rem;
    color: var(--beige);
    line-height: 0;
}

/* *
 * ================================================================================
 * Sections
 * ================================================================================
* */
section {
    min-height: 70svh;
    border-top: 0.5rem solid var(--rood);
    border-bottom: 0.5rem solid var(--rood);
}

section.groene-achtergrond {
    background: var(--groen);
}

section.beige-achtergrond {
    background: var(--beige);
}

/* *
 * ================================================================================
 * h2 styling
 * ================================================================================
* */
section h2 {
    margin-bottom: 1rem;
    width: 40rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    margin: 2rem auto;
}

section h2 span{
    display: inline-block;
    height: 1px;
    width: 20rem;
    background: var(--beige-35);
}

section h2 span:nth-of-type(1) {
    top: 50%;
    left: -21rem;
    transform: translateY(-50%);
}

section h2 span:nth-of-type(2) {
    top: 50%;
    right: -21rem;
    transform: translateY(-50%);
}

/* *
 * ================================================================================
 * Gewichten & stijlen sectie
 * ================================================================================
* */
section#gewichten-stijlen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: var(--beige);
}

section#gewichten-stijlen div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 60rem;
    border-bottom: 1px solid var(--beige-35);
}
section#gewichten-stijlen div p:first-of-type {
    font-size: 1rem;
    font-style: italic;
}
section#gewichten-stijlen div p:last-of-type {
    font-size: 2.4rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
}

#text-input {
    padding: 1rem 1.5rem;
    border: none;
    border-bottom: 1px solid #1e1e1e;
    width: calc(100% - 3rem);
    font-size: 6rem;
    background: var(--beige);
    color: var(--groen);
    text-align: center;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::placeholder */
#input-text::placeholder {
    color: var(--rood);
    opacity: 0.2;
}

#text-input:focus {
    outline: none;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

fieldset#font-weights {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto;
    gap: 1rem;
}

fieldset#font-weights div:nth-of-type(2) label {
    padding: 0.5rem 1.5rem;
    display: block;
    border: 1px solid var(--groen);
    border-radius: 5px;
    color: var(--groen);
    transition: .5s;
}

fieldset#font-weights div:nth-of-type(1) {
    display: flex;
    flex-flow: column;
    align-items: center;
}

fieldset#font-weights div:nth-of-type(2) input {
    display: none;
}

fieldset#font-weights label:hover {
    scale: 1.03;
}

/* fieldset#font-weights input {
    display: none;
} */

fieldset#font-weights input:checked + label {
    background-color: var(--groen-geselecteerd);
}

.hidden {
    display: none;
}