/*
 * Reminder voor mezelf: Ontdekking van variabele fonts
 * https://www.grillitype.com/blog/guides/introduction-variable-fonts
 * https://fonts.google.com/knowledge/introducing_type/introducing_variable_fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap');
@import "fonts.css";

:root {
    --zwart: rgb(16, 16, 16);
    --wit: rgb(255, 255, 255);

    --beige: rgb(244, 237, 210);
    --groen: rgb(13, 61, 53);
    --rood: rgb(208, 43, 33);

    /* Opacity */
    --beige-35: rgba(244, 237, 210, 0.35);
    --zwart-35: rgb(16, 16, 16, 0.35);
    --groen-35: rgb(13, 61, 53, 0.35);
    --wit-35: rgb(255, 255, 255, 0.35);
}

body {
    margin: 0;
    background: var(--beige);
    color: var(--zwart);
    font-family: "gill-sans", sans-serif;
}

/*
 * ================================================================================
 * Header sectie
 * ================================================================================
*/
header {
    background: var(--groen);
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}

header span#lijn {
    height: 0.25rem;
    width: 7rem;
    background: var(--rood);
}

header p {
    margin-top: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    color: var(--beige-35);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

header span#eerste-border,
header span#tweede-border {
    opacity: 0.1;
}
header span#eerste-border {
    position: absolute;
    width: 97%;
    height: 97%;
    border: 5px solid var(--beige);
}

header span#tweede-border {
    position: absolute;
    width: 95%;
    height: 94%;
    border: 1px solid var(--beige);
}

header span#jaartal {
    width: 5rem;
    height: 5rem;
    border-radius: 20rem;
    border: 3px solid var(--beige);
    opacity: 0.1;
    position: absolute;
    bottom: 3rem;
    right: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--beige);
}

header h1 {
    font-size: 15rem;
    color: var(--beige);
    line-height: 0;
}

/*
 * ================================================================================
 * Sections
 * ================================================================================
*/
section {
    min-height: 20svh;
    padding: 4rem 0;
}

section.groene-achtergrond {
    background: var(--groen);
}

section.beige-achtergrond {
    background: var(--beige);
    border-top: 0.5rem solid var(--rood);
    border-bottom: 0.5rem solid var(--rood);
}

/*
 * ================================================================================
 * h2 styling
 * ================================================================================
*/
section h2 {
    width: 40rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    margin: 0 auto 2rem;
    font-size: 1.15rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

section h2 span{
    display: inline-block;
    height: 1px;
    width: 20rem;
}

section h2 span:nth-of-type(1) {
    top: 50%;
    left: -21rem;
    transform: translateY(-50%);
}

section h2 span:nth-of-type(2) {
    top: 50%;
    right: -21rem;
    transform: translateY(-50%);
}

section.groene-achtergrond h2,
section.groene-achtergrond h2 {
    color: var(--beige-35);
}

section.groene-achtergrond h2 span:nth-of-type(1),
section.groene-achtergrond h2 span:nth-of-type(2) {
    background: var(--beige-35);
}

section.beige-achtergrond h2 span:nth-of-type(1),
section.beige-achtergrond h2 span:nth-of-type(2) {
    background: var(--zwart-35);
}

/*
 * ================================================================================
 * Gewichten & stijlen sectie
 * ================================================================================
*/
section#verschillende-stijlen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: var(--groen);
}

section#verschillende-stijlen ul li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 60rem;
    border-bottom: 1px solid var(--groen-35);
    list-style: none;
}

section#verschillende-stijlen li {
    display: inline-block;
}

section#verschillende-stijlen li p:first-of-type {
    font-size: 1rem;
    font-style: italic;
}
section#verschillende-stijlen li p:last-of-type {
    font-size: 2.4rem;
}

section#verschillende-stijlen li:nth-of-type(1) p:last-of-type {
    font-weight: 400;
}

section#verschillende-stijlen li:nth-of-type(2) p:last-of-type {
    font-weight: 400;
    font-style: italic;
}

section#verschillende-stijlen li:nth-of-type(3) p:last-of-type {
    font-weight: 500;
}

section#verschillende-stijlen li:nth-of-type(4) p:last-of-type {
    font-weight: 500;
    font-style: italic;
}

section#verschillende-stijlen li:nth-of-type(5) p:last-of-type {
    font-weight: 600;
}

section#verschillende-stijlen li:nth-of-type(6) p:last-of-type {
    font-weight: 600;
    font-style: italic;
}

section#verschillende-stijlen li:nth-of-type(7) p:last-of-type {
    font-weight: 700;
}

section#verschillende-stijlen li:nth-of-type(8) p:last-of-type {
    font-weight: 700;
    font-style: italic;
}

/*
 * ================================================================================
 * Tekens sectie
 * ================================================================================
*/
section.tekens {
    padding: 12rem 0;
}

section.tekens ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    list-style: none;
}

section.tekens ul li { 
    color: var(--beige);
    font-size: 5rem;
    font-weight: 700;
    transition: .2s;
    cursor: default;
    padding: 0 1rem;
    display: inline-block;
    opacity: 0.2;
}

section.tekens.beige-achtergrond ul li { 
    color: var(--groen);
}

section.tekens ul li:hover {
    color: var(--rood);
    opacity: 1;
}

/*
 * ================================================================================
 * Cijfers sectie
 * ================================================================================
*/
section#cijfers {
    padding: 12rem 0;
}

section#cijfers ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    list-style: none;
}

section#cijfers ul li { 
    color: var(--beige);
    font-size: 5rem;
    font-weight: 700;
    transition: .2s;
    cursor: default;
    padding: 0 1rem;
    display: inline-block;
    opacity: 0.2;
}

section#cijfers.beige-achtergrond ul li { 
    color: var(--groen);
}

section#cijfers ul li:hover {
    color: var(--rood);
    opacity: 1;
}

/*
 * ================================================================================
 * Lettergrootte
 * ================================================================================
*/
section#lettergrootte ul {
    width: 100%;
    max-width: 50vw;
    margin: auto;
    list-style: none;
}
section#lettergrootte li {
    display: grid;
    grid-template-columns: 3rem 1fr;
    margin-bottom: 2rem;
    align-items: baseline;
    flex-flow: row;
}

section#lettergrootte li span {
    font-size: 1rem;
}

section#lettergrootte li:nth-of-type(1) { font-size: 4rem; }
section#lettergrootte li:nth-of-type(2) { font-size: 3.5rem; }
section#lettergrootte li:nth-of-type(3) { font-size: 3rem; }
section#lettergrootte li:nth-of-type(4) { font-size: 2.5rem; }
section#lettergrootte li:nth-of-type(5) { font-size: 2rem; }
section#lettergrootte li:nth-of-type(6) { font-size: 1rem; }

/*
 * ================================================================================
 * Interactieve sectie
 * ================================================================================
*/
form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 5rem 0;
    background-color: var(--groen);
}

#tekst {
    padding: 1rem 1.5rem;
    border: none;
    border-bottom: 1px solid #1e1e1e;
    width: 100%;
    max-width: 70rem;
    font-size: 6rem;
    background: var(--wit-35);
    color: var(--groen);
    text-align: center;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::placeholder */
#tekst::placeholder {
    color: var(--beige);
    opacity: 0.2;
}

#tekst:focus {
    outline: none;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

fieldset {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto;
    gap: 1rem;
}

fieldset div:nth-of-type(1),
fieldset div:nth-of-type(3) { 
    display: flex;
    gap: 0.5rem;
    flex-flow: column;
    align-items: center;
}

fieldset div:nth-of-type(2) input {
    display: none;
}
fieldset div label {
    color: var(--beige);
}

fieldset div:nth-of-type(2) label {
    padding: 0.5rem 1.5rem;
    display: block;
    border: 1px solid var(--beige);
    border-radius: 5px;
    color: var(--beige);
    transition: .5s;
}

fieldset label:hover {
    scale: 1.03;
}

fieldset input:checked + label {
    background-color: var(--groen-35);
}

.hidden {
    display: none;
}